body {
    font-size: 21px;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    height: 500px;
}

.img {
    width: 100%;
    height: 100%;
}

.info {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
    padding: 20px;
    position: relative;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box1 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;


}

.box2 {
    display: flex;
    position: relative;
    left: 0;
    top: 70px;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align:center;
}

p {
    margin-top: 10px;
}

.above-grid-text1 {
    margin-top: 80px;
    margin-left: 25px;
    font-size: 30px;
    font-weight: bold;
}

.above-grid-text2 {
    margin-top: 10px;
    margin-left: 25px;
}

.grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-layout {
    display: flex;
    flex: 1;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;

    margin: 5px;
}
/*
.div1 {
    background-color: lightblue;
}
.div2 {
    background-color: lightgoldenrodyellow;
    
}
.div3 {
    background-color: lightgray;
}
.div4 {
    background-color: lightpink;
}
.div5 {
    background-color: lightslategrey;
}
.div6 {
    background-color: lightcyan;
}
.div7 {
    background-color: lightyellow;
}
.div8 {
    background-color: black;
}*/

.about-img1 {
    width: 600px;
}
.about-img2 {
    width: 600px;
}
.about-img3 {
    width: 600px;
}




@media screen and (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr; 
    }
}